#discussion-container {
    display: flex;
}
.discussion-message {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 1em;
}

.discussion-sent {
  align-self: flex-end;      /* Push user messages to the right */
  background-color: #d1f1ff; /* Light blue for user */
  text-align: right;
}

.discussion-received {
  align-self: flex-start;    /* Push bot messages to the left */
  background-color: #f1f1f1; /* Light gray for bot */
  text-align: left;
}

.discussion-play-button,
.discussion-pause-button {
    background-color: inherit;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 50%;
}