#discussion-container {
    display: flex;
}
.discussion-chat-container {
   width: 80%;
}
.discussion-message {
  max-width: 70%;
  border-radius: 12px;
  font-size: 1em;
  margin-top: 5px;
}

.discussion-sent {
  background-color: #fff9e9; /* Light peach for user */
  text-align: right;
  color: blue;
  margin-left: auto; /* Push user messages to the right */
}

.discussion-received {
   /* Push bot messages to the left */
    background-color: #f1f0f0; /* Light gray for bot */
    color: black;
  text-align: left;
}

.discussion-play-button,
.discussion-pause-button {
    background-color: inherit;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 50%;
}