.match-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.match-list {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

.list h3 {
    margin-bottom: 10px;
}

.match-word,
.match-meaning {
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    cursor: grab;
}

.match-drop-zone {
    height: 50px;
    background: #e8e8e8;
    border: 1px dashed #aaa;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.match-drop-zone.hovered {
    border-color: #00aaff;
}

.match-drop-zone.correct {
    background: #d4edda;
    border-color: #28a745;
}

.match-drop-zone.wrong {
    background: #f8d7da;
    border-color: #dc3545;
}