#story-saveButton:disabled {
    background-color: #cccccc;
    /* Grey background */
    color: #666666;
    /* Dimmed text color */
    cursor: not-allowed;
    /* Show 'not allowed' cursor */
    opacity: 0.6;
    /* Slightly transparent */
}

.story-container {
    display: flex;
}

.story-image,
.chat-container {
    flex: 1;
    padding: 10px;
}

.story-image {
    border-right: 1px solid #ccc;
}
/* Add all button disabled in one css filter */
#exercise-start-btn:disabled,
#story-clear-btn:disabled,
#story-send-btn:disabled,
#story-saveButton:disabled,
#story-start-btn:disabled {
    background-color: #cccccc;
    /* Grey background */
    color: #666666;
    /* Dimmed text color */
    cursor: not-allowed;
    /* Show 'not allowed' cursor */
    opacity: 0.6;
    /* Slightly transparent */
}

.story-image segment-img {
    width: 90%;
    height: auto;
}

.story-image full-img {
    width: 90%;
    height: auto;
}

.story-spinner {
    display: none;
    /* Initially hidden */
    border: 8px solid #f3f3f3;
    /* Light gray */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}