
#topic-preview-btn:disabled,
#topic-save-btn:disabled,
#topic-clear-btn:disabled,
#topic-pause-btn:disabled,
#topic-start-btn:disabled,
#audio-play-btn:disabled {
    background-color: #cccccc;
    /* Grey background */
    color: #666666;
    /* Dimmed text color */
    cursor: not-allowed;
    /* Show 'not allowed' cursor */
    opacity: 0.6;
    /* Slightly transparent */
}

#topic-start-btn,
#topic-pause-btn,
#topic-clear-btn,#topic-preview-btn,
#topic-save-btn,#audio-play-btn
{
    margin-bottom: 10px;
    margin-right: 5px; 
   margin-top: 10px; 
}

